<div class="ra-footer" style="font-weight:bolder;background-color: #dcf3f3;">

<div style="float:right;padding-top:2px;padding-right:5px;">
[% INCLUDE rapidapp/public/log_in_out_control.tt %]
</div>

  <div>
    <div style="float:left;padding-left:20px;padding-top:10px;">
      <a 
        href="[% c.mount_url %]/" target="_self" 
        title="Back to home page"
        class="icon-home-64 banner-home-link"
      ></a>
    </div>
  
    <img
        src="/assets/local/misc/static/img/Rapi-Blog-banner-img.png"
        style="height:60px;"
    />
  </div>

</div>