
<title class="icon-post">[% Row.title %]</title>

<div class="ra-scoped-reset">

<div class="rapi-blog-postview" style="font-size:12px;">


<div style="float:right;">[% r.toggle.edit %]</div>
  <h4 style="margin-bottom:2px;">
    <span class="bigger">
      <span
        style="padding-right:15px;"
      >{title}</span><i class="grey" style="font-size:.7em;">([% r.autofield.size %])</i>
      
    </span>
  </h4>
  
  <table class="r-simple-table">
    <tr>
      <th>Name</th>
      <td colspan=4>
        <div style="float: right; padding-top:5px;">[% r.delete_record %]</div>
        <span class="with-icon icon-post bigger">[% r.autofield.name %]</span>
        <span class="with-icon" style="margin-left:30px;"><b><i>Published:</i></b> [% r.autofield.published %]</span>
        
      </td>
    </tr>
    <tr>
      <th>Title</th>
      <td colspan=4>
        <span class="with-icon icon-post bigger">[% r.autofield.title %]</span>
      </td>
    </tr>
    
    <tr class="vert"><td></td><th>Date/Time           </th><th>Created                    </th><th>Updated                    </th><th>Author                  </th></tr>
    <tr class="vert"><td></td><td>[% r.autofield.ts %]</td><td>[% r.autofield.create_ts %]</td><td>[% r.autofield.update_ts %]</td><td>[% r.autofield.author %]</td></tr>
    
  </table>
  

  <h5 style="padding-top:5px;margin-bottom:-2px;">
    <span style="padding-right:85px;">Body: [% r.toggle.edit %]</span>
  
    <i><a 
      class="with-icon ra-icon-tab-go"
      style="vertical-align: text-bottom;font-size:.8em;padding-right:5px;"
      href="#!/[% Row.public_url_path %]{name}"
    >Public View (tab)</a></i>
    <i><a 
      class="with-icon ra-icon-page-white-world"
      style="vertical-align: text-bottom;font-size:.8em;"
      href="/[% Row.public_url_path %]{name}"
      target="_blank"
    >Open URL (new window)</a></i>
  
  </h5>
  <div class="post-body appdv-fill-absolute">
    [% r.autofield.body %]
  </div>
  
</div>

</div>